.event-detail {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0;
}

.event-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.event-detail .btn-link i,
.event-detail i.fa-house {
    color: var(--textPrimary-color);
    font-size: 1.2rem;
}

.event-detail h6 {
    font-weight: 800;
    color: var(--textPrimary-color);
    font-size: 1rem;
    margin: 0px;
}

.texto-event {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.badge-evento-finalizado {
    background-color: red;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.6rem;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.event-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    max-height: 180px;
}

.event-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.event-desc {
    font-size: 0.88rem;
}

.event-detail .fw-semibold {
    font-weight: 600;
}

.event-quiz {
    font-size: 0.85rem;
    color: var(--textSecondary-color);
}

.btn-finalizado {
    background-color: #FCE8C4;
    color: #A67C52;
    font-size: 0.85rem;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    width: 100%;
    cursor: not-allowed;
}


.reseñas {
    margin-top: 1rem;
}

.review {
    background-color: #fff;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    font-size: 0.85rem;
}

.review strong {
    color: var(--textPrimary-color);
}

.review .stars {
    font-size: 1rem;
    letter-spacing: 1px;
}

.btn-ver-mas {
    background-color: var(--decoration-color);
    color: white;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
}

.btn-ver-mas:hover {
    background-color: #d28e1a;
    color: white;
}