.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header h5 {
  margin: 0;
  font-weight: 800;
  color: var(--textPrimary-color);
}

.section-title {
  font-weight: 700;
  color: var(--textSecondary-color);
  margin: 1rem 1rem 0.5rem;
  font-size: 1rem;
}

.card-horizontal {
  display: flex;
  background-color: #fff;
  gap: 10px;
  overflow: hidden;
  margin: 0 1rem;
}

.card-horizontal img {
  width: 45%;
  object-fit: cover;
  border-radius: 12px;
}

.card-body {
  flex: 1;
}

.card-body h6 {
  font-weight: 700;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
  color: var(--textPrimary-color);
}

.card-body p {
  font-size: 0.8rem;
  color: var(--textSecondary-color);
  margin-bottom: 0.5rem;
}

.badge-fecha {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  margin-bottom: 0.3rem;
}


.btn-ver {
  font-size: 0.75rem;
  padding: 0.25rem 0.6rem;
  border-radius: 8px;
  border: 1px solid var(--textSecondary-color);
  color: var(--textSecondary-color);
}

/* Segunda tarjeta: amarillo */
.card-horizontal.yellow .badge-fecha {
  background-color: #F5A623;
  color: white;
}
