body {
    background-color: var(--bg-color);
    font-family: var(--fontFamily-font);
    max-width: 400px;
    margin: 0 auto;
    color: var(--textPrimary-color);
}

.container {
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--textPrimary-color);
    font-weight: 700;
}

a{
    text-decoration: none;
}

.btn {
    flex: 1;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
    font-size: 1.2rem;
    padding: 1.2rem;
    border: none;
}

.eventos {
    background-color: #F7C142;
}

.text {
    font-size: 20pt;
}

i {
    font-size: 52px;
}

p {
    margin: 0px;
}

.compartidos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.btn-salir {
    background-color: #D52E2E;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    color: #fff;
    border-radius: 12px;
    font-size: 1.2rem;
    padding: 1.2rem;
    border: none;
    justify-content: center;

    i {
        font-size: 24px;
    }
}


.codigos {
    background-color: #2ED5CD;
}

.perfil {
    background-color: #895CF7;
}