.quiz {
    min-height: 100vh;
    padding: 20px 25px;
    background-color: var(--bg-color);
    font-family: var(--fontFamily-font);

    .title {
        display: flex;
        justify-content: space-between;
    }

    .home {
        padding: 0;
        background-color: transparent;
        margin: 0;
    }
    .modal-dialog{
        margin: 0 30px;
    }
    .btn-sis{
        text-decoration: none;
        padding: 7.5px 16px;
        background-color: #895CF7;
        color: white;
        border-radius: 6px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--textSecondary-color);
    }

    i {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--textPrimary-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
        transition: all 0.2s ease;
        text-decoration: none;
    }

    i:hover {
        background-color: #f9f9f9;
        transform: scale(1.05);
        cursor: pointer;
    }

    .quiz-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
        height: 90vh;
    }

    .question {
        background: #895CF7;
        color: white;
        padding: 50px 40px;
        border-radius: 12px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
    }

    #opciones {
        width: 100%;
    }

    .option {
        border: 2px solid #895CF7;
        color: #9765e9;
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .option:hover {
        background: #ececff;
    }

    .option span {
        font-weight: bold;
        margin-right: 10px;
        background: #895CF7;
        color: white;
        padding: 4px 10px;
        border-radius: 50%;
    }

    .message {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: bold;
    }

    button {
        margin-top: 15px;
        padding: 10px 20px;
        background: #895CF7;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .event-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
}